<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <tr><td>Name</td><td th:text="${suser.firstName}+' '+${suser.lastName}" /></tr>
    <tr><td>Email</td><td th:text="${suser.email}" /></tr>
    <tr><td>Created On</td><td th:text="${suser.createDT} " /></tr>
</table>
<hr></hr>
<p>Clients:</p>
<table>
<tr th:each="c : ${allSClients}">
	<td th:text="${c}"></td>
</tr>
</table>
</body>
</html>